{
    "presets": ["@babel/preset-env"],

    // enable below if any regenerator error comes on running tests

    // "plugins": [
    //     ["@babel/transform-runtime", {
    //         "regenerator": true
    //     }]
    // ]

}